## Pandas
is the most popular Python library for data analysis, help dealing with data set and it will extract the data from that CSV into a DataFrame.

### IMPORT OF Pandas :-
- import `pandas` as `np`

In [1]:
import pandas as pd

#### Series & DataFrame

##### 1. Series:
 is considered column in an excel sheet.
##### 2. DataFrame:
 is a table, datasets arrange in rows and columns,
###### If a DataFrame is a table, a Series is a list.

<img src='series-and-dataframe.width-1200.png'>

#### Create series
- created by loading the datasets from existing storage like CSV file, and Excel file. 
- can be created from the lists, dictionary, and from a scalar value etc.

In [3]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
#set index and name
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

#### Create DataFrame
- can be created is an Empty Dataframe by calling a dataframe constructor.
- can be created from dict narray / lists ,Lists and List of Dicts.

In [5]:
# create dict
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}
# keys are the column names 
# values are a list of entries
#then pass it to the pandas DataFrame constructor
data_= pd.DataFrame(data)
data_

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [6]:
# set index ( row labels)
data_= pd.DataFrame(data,index=['Product_1', 'Product_2','Product_3','Product_4'])
data_

           apples  oranges
Product_1       3        0
Product_2       2        3
Product_3       0        7
Product_4       1        2

### Reading data files
most of the time, we won't actually be creating our own data by hand. Instead, we'll be working with data that already exists.
Data can be stored in different forms and formats. as(txt,csv,Excel...)

- we can read data.csv (Comma-Separated Values) into a DataFrame by `pd.read_csv()`

In [155]:
'''
INTRO: DATA SET
Medium is one of the most famous tools for spreading knowledge about almost any field. 
It is widely used to published articles on ML, AI, and data science. 
This dataset is the collection of about 350 articles in such fields

'''
data_f=pd.read_csv('articles.csv')

 We can examine the contents of DataFrame using the ` head() ` command , which display the first five rows by default

In [8]:
data_f.head(15)

,author,claps,reading_time,link,title,text
0,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T..."
1,Conor Dewey,1.4K,7,https://towardsdatascience.com/python-for-data...,Python for Data Science: 8 Concepts You May Ha...,If you’ve ever found yourself looking up the s...
2,William Koehrsen,2.8K,11,https://towardsdatascience.com/automated-featu...,Automated Feature Engineering in Python – Towa...,Machine learning is increasingly moving from h...
3,Gant Laborde,1.3K,7,https://medium.freecodecamp.org/machine-learni...,Machine Learning: how to go from Zero to Hero ...,If your understanding of A.I. and Machine Lear...
4,Emmanuel Ameisen,935,11,https://blog.insightdatascience.com/reinforcem...,Reinforcement Learning from scratch – Insight ...,Want to learn about applied Artificial Intelli...
5,Irhum Shafkat,2K,15,https://towardsdatascience.com/intuitively-und...,Intuitively Understanding Convolutions for Dee...,The advent of powerful and versatile deep lear...
6,Sam Drozdov,2.3K,6,https://uxdesign.cc/an-intro-to-machine-learni...,An intro to Machine Learning for designers – U...,There is an ongoing debate about whether or no...
7,Conor Dewey,252,10,https://towardsdatascience.com/the-big-list-of...,The Big List of DS/ML Interview Resources – To...,Data science interviews certainly aren’t easy....
8,Abhishek Parbhakar,937,6,https://towardsdatascience.com/must-know-infor...,Must know Information Theory concepts in Deep ...,Information theory is an important field that ...
9,Aman Dalmia,2.3K,17,https://blog.usejournal.com/what-i-learned-fro...,What I learned from interviewing at multiple A...,"Over the past 8 months, I’ve been interviewing..."
10,Sophia Arakelyan,7,4,https://buzzrobot.com/from-ballerina-to-ai-res...,From Ballerina to AI Researcher: Part I – buZZ...,"Last year, I published the article “From Balle..."
11,Dr. GP Pulipaka,2,6,https://medium.com/@gp_pulipaka/3-ways-to-appl...,3 Ways to Apply Latent Semantic Analysis on La...,Latent semantic analysis works on large-scale ...
12,Scott Santens,7.3K,14,https://medium.com/basic-income/deep-learning-...,Deep Learning Is Going to Teach Us All the Les...,(An alternate version of this article was orig...
13,Adam Geitgey,35K,15,https://medium.com/@ageitgey/machine-learning-...,Machine Learning is Fun! – Adam Geitgey – Medium,Update: This article is part of a series. Chec...
14,Adam Geitgey,14.2K,15,https://medium.com/@ageitgey/machine-learning-...,Machine Learning is Fun! Part 3: Deep Learning...,Update: This article is part of a series. Chec...

we can use ` tail() `To see the last five rows

In [9]:
data_f.tail()

,author,claps,reading_time,link,title,text
332,Daniel Simmons,3.4K,8,https://itnext.io/you-can-build-a-neural-netwo...,You can build a neural network in JavaScript e...,Click here to share this article on LinkedIn »...
333,Eugenio Culurciello,2.8K,13,https://towardsdatascience.com/artificial-inte...,"Artificial Intelligence, AI in 2018 and beyond...",These are my opinions on where deep neural net...
334,Devin Soni,5.8K,4,https://towardsdatascience.com/spiking-neural-...,"Spiking Neural Networks, the Next Generation o...",Everyone who has been remotely tuned in to rec...
335,Carlos E. Perez,3.9K,7,https://medium.com/intuitionmachine/neurons-ar...,Surprise! Neurons are Now More Complex than We...,One of the biggest misconceptions around is th...
336,Nityesh Agarwal,2.4K,13,https://towardsdatascience.com/wth-does-a-neur...,“WTH does a neural network even learn??” — a n...,"I believe, we all have that psychologist/philo..."

In [10]:
#remove index
data_f=pd.read_csv('articles.csv', index_col=0) # set index by columns (using name or index)
# we can use set_index()
#data_f.set_index('title')
data_f.head()

,claps,reading_time,link,title,text
author,,,,,
Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T..."
Conor Dewey,1.4K,7,https://towardsdatascience.com/python-for-data...,Python for Data Science: 8 Concepts You May Ha...,If you’ve ever found yourself looking up the s...
William Koehrsen,2.8K,11,https://towardsdatascience.com/automated-featu...,Automated Feature Engineering in Python – Towa...,Machine learning is increasingly moving from h...
Gant Laborde,1.3K,7,https://medium.freecodecamp.org/machine-learni...,Machine Learning: how to go from Zero to Hero ...,If your understanding of A.I. and Machine Lear...
Emmanuel Ameisen,935,11,https://blog.insightdatascience.com/reinforcem...,Reinforcement Learning from scratch – Insight ...,Want to learn about applied Artificial Intelli...

# Accessing Data
Selecting specific values of a pandas DataFrame or Series to work on is in any data operation you'll run

In [11]:
data_f=pd.read_csv('articles.csv')
data_f

,author,claps,reading_time,link,title,text
0,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T..."
1,Conor Dewey,1.4K,7,https://towardsdatascience.com/python-for-data...,Python for Data Science: 8 Concepts You May Ha...,If you’ve ever found yourself looking up the s...
2,William Koehrsen,2.8K,11,https://towardsdatascience.com/automated-featu...,Automated Feature Engineering in Python – Towa...,Machine learning is increasingly moving from h...
3,Gant Laborde,1.3K,7,https://medium.freecodecamp.org/machine-learni...,Machine Learning: how to go from Zero to Hero ...,If your understanding of A.I. and Machine Lear...
4,Emmanuel Ameisen,935,11,https://blog.insightdatascience.com/reinforcem...,Reinforcement Learning from scratch – Insight ...,Want to learn about applied Artificial Intelli...
...,...,...,...,...,...,...
332,Daniel Simmons,3.4K,8,https://itnext.io/you-can-build-a-neural-netwo...,You can build a neural network in JavaScript e...,Click here to share this article on LinkedIn »...
333,Eugenio Culurciello,2.8K,13,https://towardsdatascience.com/artificial-inte...,"Artificial Intelligence, AI in 2018 and beyond...",These are my opinions on where deep neural net...
334,Devin Soni,5.8K,4,https://towardsdatascience.com/spiking-neural-...,"Spiking Neural Networks, the Next Generation o...",Everyone who has been remotely tuned in to rec...
335,Carlos E. Perez,3.9K,7,https://medium.com/intuitionmachine/neurons-ar...,Surprise! Neurons are Now More Complex than We...,One of the biggest misconceptions around is th...
336,Nityesh Agarwal,2.4K,13,https://towardsdatascience.com/wth-does-a-neur...,“WTH does a neural network even learn??” — a n...,"I believe, we all have that psychologist/philo..."

###### 1.methode (Columns is attribute of object)
In Python, we can access the property of an object by accessing it as an attribute, Columns in a pandas DataFrame work in much the same way.

In [12]:
data_f.reading_time

0      11
1       7
2      11
3       7
4      11
       ..
332     8
333    13
334     4
335     7
336    13
Name: reading_time, Length: 337, dtype: int64

###### 2. methode (dataframe is dictionary)
in Python dictionary, we can access its values using the indexing ([]) operator.

- Note:
the indexing operator [] does have the advantage that it can handle column names with reserved characters in them (e.g. if we had a `Publishing house` column, `dataframe.Publishing house` wouldn't work).

In [13]:
data_f['claps']

0      8.3K
1      1.4K
2      2.8K
3      1.3K
4       935
       ...
332    3.4K
333    2.8K
334    5.8K
335    3.9K
336    2.4K
Name: claps, Length: 337, dtype: object

###### Access entry

In [14]:
data_f['claps'][3]

'1.3K'

###### Accessor operators `loc`  and `iloc` 

- `iloc` we treat the dataset like a big matrix (a list of lists) , select data based on its numerical position in the data, this is called 'Index-based selection'.

- `loc` uses the information in the indices and ignores the dataset's indices, this is called ' label-based selection'.

In [15]:
data_f.iloc[0]

author                                                 Justin Lee
claps                                                        8.3K
reading_time                                                   11
link            https://medium.com/swlh/chatbots-were-the-next...
title           Chatbots were the next big thing: what happene...
text            Oh, how the headlines blared:\nChatbots were T...
Name: 0, dtype: object

In [16]:
data_f.iloc[:,0] # .iloc[index of row : index of column ]

0               Justin Lee
1              Conor Dewey
2         William Koehrsen
3             Gant Laborde
4         Emmanuel Ameisen
              ...
332         Daniel Simmons
333    Eugenio Culurciello
334             Devin Soni
335        Carlos E. Perez
336        Nityesh Agarwal
Name: author, Length: 337, dtype: object

In [17]:
data_f.iloc[:6, 0]

0          Justin Lee
1         Conor Dewey
2    William Koehrsen
3        Gant Laborde
4    Emmanuel Ameisen
5       Irhum Shafkat
Name: author, dtype: object

In [18]:
data_f.iloc[5:10, 0]

5         Irhum Shafkat
6           Sam Drozdov
7           Conor Dewey
8    Abhishek Parbhakar
9           Aman Dalmia
Name: author, dtype: object

In [19]:
data_f.iloc[[9, 5, 2], 0:2]

             author claps
9       Aman Dalmia  2.3K
5     Irhum Shafkat    2K
2  William Koehrsen  2.8K

In [20]:
data_f.iloc[-8:] # last 8 rows in data

,author,claps,reading_time,link,title,text
329,Favio Vázquez,3.3K,14,https://towardsdatascience.com/a-weird-introdu...,A “weird” introduction to Deep Learning – Towa...,"There are amazing introductions, courses and b..."
330,Oleksandr Savsunenko,5.5K,4,https://hackernoon.com/the-new-neural-internet...,The New Neural Internet is Coming – Hacker Noon,How it all began / The Landscape\nThink of the...
331,Max Pechyonkin,3.4K,8,https://towardsdatascience.com/stochastic-weig...,Stochastic Weight Averaging — a New Way to Get...,"In this article, I will discuss two interestin..."
332,Daniel Simmons,3.4K,8,https://itnext.io/you-can-build-a-neural-netwo...,You can build a neural network in JavaScript e...,Click here to share this article on LinkedIn »...
333,Eugenio Culurciello,2.8K,13,https://towardsdatascience.com/artificial-inte...,"Artificial Intelligence, AI in 2018 and beyond...",These are my opinions on where deep neural net...
334,Devin Soni,5.8K,4,https://towardsdatascience.com/spiking-neural-...,"Spiking Neural Networks, the Next Generation o...",Everyone who has been remotely tuned in to rec...
335,Carlos E. Perez,3.9K,7,https://medium.com/intuitionmachine/neurons-ar...,Surprise! Neurons are Now More Complex than We...,One of the biggest misconceptions around is th...
336,Nityesh Agarwal,2.4K,13,https://towardsdatascience.com/wth-does-a-neur...,“WTH does a neural network even learn??” — a n...,"I believe, we all have that psychologist/philo..."

In [21]:
data_f.loc[0, 'author']

'Justin Lee'

In [22]:
data_f.loc[:10, ['author', 'reading_time', 'claps']] #note start 0 row until 10 row

                author  reading_time claps
0           Justin Lee            11  8.3K
1          Conor Dewey             7  1.4K
2     William Koehrsen            11  2.8K
3         Gant Laborde             7  1.3K
4     Emmanuel Ameisen            11   935
5        Irhum Shafkat            15    2K
6          Sam Drozdov             6  2.3K
7          Conor Dewey            10   252
8   Abhishek Parbhakar             6   937
9          Aman Dalmia            17  2.3K
10    Sophia Arakelyan             4     7

In [23]:
data_f=pd.read_csv('articles.csv', index_col=0) 
#data_f.loc[0, 'author'] #error
#data_f.loc['Justin Lee', 'author'] #error
data_f.loc['Justin Lee', 'reading_time']

author
Justin Lee    11
Justin Lee    11
Justin Lee    10
Justin Lee    11
Name: reading_time, dtype: int64

In [24]:
#data_f.loc['Aman Dalmia':'Conor Dewey']

###### Conditional selection
For example, what if we want to filter our articles to show only articles wirtten by Daniel Simmons

In [25]:
data_f=pd.read_csv('articles.csv')
data_f.author=='Daniel Simmons'# return Series of True/False booleans based on the author of each record

0      False
1      False
2      False
3      False
4      False
       ...
332     True
333    False
334    False
335    False
336    False
Name: author, Length: 337, dtype: bool

In [26]:
#count them
sum(data_f.author=='Daniel Simmons')

2

In [27]:
data_f.title=='Chatbots were the next big thing: what happened? – The Startup – Medium'

0       True
1      False
2      False
3      False
4      False
       ...
332    False
333    False
334    False
335    False
336    False
Name: title, Length: 337, dtype: bool

In [28]:
sum(data_f.title=='Chatbots were the next big thing: what happened? – The Startup – Medium')

3

In [29]:
#show them
data_f.loc[data_f.title=='Chatbots were the next big thing: what happened? – The Startup – Medium']

,author,claps,reading_time,link,title,text
0,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T..."
86,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T..."
273,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T..."

In [30]:
(data_f['title']=='Chatbots were the next big thing: what happened? – The Startup – Medium').head()

0     True
1    False
2    False
3    False
4    False
Name: title, dtype: bool

In [31]:
data_f.loc[(data_f.claps=='8.3K')&(data_f.reading_time==11)]

,author,claps,reading_time,link,title,text
0,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T..."
86,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T..."
273,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T..."

In [32]:
data_f.loc[data_f.reading_time==11].shape

(27, 6)

In [33]:
data_f.loc[data_f.claps=='8.3K'].shape

(3, 6)

###### Built-in conditional selectors

In [34]:
# use isin() 
data_f.loc[data_f.reading_time.isin([11, 10])]

,author,claps,reading_time,link,title,text
0,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T..."
2,William Koehrsen,2.8K,11,https://towardsdatascience.com/automated-featu...,Automated Feature Engineering in Python – Towa...,Machine learning is increasingly moving from h...
4,Emmanuel Ameisen,935,11,https://blog.insightdatascience.com/reinforcem...,Reinforcement Learning from scratch – Insight ...,Want to learn about applied Artificial Intelli...
7,Conor Dewey,252,10,https://towardsdatascience.com/the-big-list-of...,The Big List of DS/ML Interview Resources – To...,Data science interviews certainly aren’t easy....
25,Netflix Technology Blog,365,10,https://medium.com/netflix-techblog/netflix-re...,Netflix Recommendations: Beyond the 5 stars (P...,by Xavier Amatriain and Justin Basilico (Perso...
29,Netflix Technology Blog,330,11,https://medium.com/netflix-techblog/system-arc...,System Architectures for Personalization and R...,by Xavier Amatriain and Justin Basilico\nIn ou...
37,Shivon Zilis,1.2K,10,https://medium.com/@shivon/the-current-state-o...,The Current State of Machine Intelligence – Sh...,(The 2016 Machine Intelligence landscape and p...
38,AirbnbEng,369,11,https://medium.com/airbnb-engineering/architec...,Architecting a Machine Learning System for Ris...,"By Naseem Hakim & Aaron Keys\nAt Airbnb, we wa..."
60,Adam Geitgey,6.8K,11,https://medium.com/@ageitgey/machine-learning-...,Machine Learning is Fun Part 6: How to do Spee...,Update: This article is part of a series. Chec...
68,Vishal Maini,32K,10,https://medium.com/machine-learning-for-humans...,A Beginner’s Guide to AI/ML 🤖👶 – Machine Learn...,Part 1: Why Machine Learning Matters. The big ...
77,James Le,18.4K,11,https://towardsdatascience.com/a-tour-of-the-t...,A Tour of The Top 10 Algorithms for Machine Le...,"In machine learning, there’s something called ..."
80,David Foster,12.8K,11,https://medium.com/applied-data-science/how-to...,How to build your own AlphaZero AI using Pytho...,In this article I’ll attempt to cover three th...
81,George Seif,11.4K,11,https://towardsdatascience.com/the-5-clusterin...,The 5 Clustering Algorithms Data Scientists Ne...,Clustering is a Machine Learning technique tha...
86,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T..."
88,Emmanuel Ameisen,935,11,https://blog.insightdatascience.com/reinforcem...,Reinforcement Learning from scratch – Insight ...,Want to learn about applied Artificial Intelli...
91,Conor Dewey,252,10,https://towardsdatascience.com/the-big-list-of...,The Big List of DS/ML Interview Resources – To...,Data science interviews certainly aren’t easy....
96,Matt Schlicht,5K,11,https://chatbotsmagazine.com/the-complete-begi...,The Complete Beginner’s Guide To Chatbots – Ch...,What are chatbots? Why are they such a big opp...
105,Frank Diana,50,10,https://medium.com/@frankdiana/the-evolving-ro...,The Evolving Role of Business Analytics – Fran...,An older post that seems to be getting a lot o...
117,Shivon Zilis,1.2K,10,https://medium.com/@shivon/the-current-state-o...,The Current State of Machine Intelligence – Sh...,(The 2016 Machine Intelligence landscape and p...
133,Frank Diana,428,11,https://medium.com/@frankdiana/digital-transfo...,Digital Transformation of Business and Society...,"At a recent KPMG Robotic Innovations event, Fu..."
138,Adam Geitgey,6.8K,11,https://medium.com/@ageitgey/machine-learning-...,Machine Learning is Fun Part 6: How to do Spee...,Update: This article is part of a series. Chec...
144,Vishal Maini,32K,10,https://medium.com/machine-learning-for-humans...,A Beginner’s Guide to AI/ML 🤖👶 – Machine Learn...,Part 1: Why Machine Learning Matters. The big ...
157,Emmanuel Ameisen,935,11,https://blog.insightdatascience.com/reinforcem...,Reinforcement Learning from scratch – Insight ...,Want to learn about applied Artificial Intelli...
161,Gaurav Kaila,2.1K,10,https://medium.com/nanonets/how-we-flew-a-dron...,How to easily automate Drone-based monitoring ...,This article is a comprehensive overview of us...
177,Netflix Technology Blog,99,11,https://medium.com/netflix-techblog/distribute...,Distributed Neural Networks with GPUs in the A...,"by Alex Chen, Justin Basilico, and Xavier Amat..."
188,Nathan Benaich,264,10,https://medium.com/@NathanBenaich/investing-in...,Investing in Artificial Intelligence – Nathan ...,My (expanded) talking points from a presentati...
196,Vishal Maini,32K,10,https://medium.com/machine-learning-for-humans...,A Beginner’s Guide to AI/ML 🤖👶 – Machine Learn...,Part 1: Why Machine Learning Matters. The big ...
206,David Foster,12.8K,11,https://medium.com/applied-data-science/how-to...,How to build your own AlphaZero AI using Pytho...,In this article I’ll attempt to cover three th...
211,Seth Weidman,2.8K,11,https://hackernoon.com/the-3-tricks-that-made-...,The 3 Tricks That Made AlphaGo Zero Work – Hac...,There were many advances in Deep Learning and ...
212,Gabriel Aldamiz...,5.1K,11,https://hackernoon.com/how-we-grew-from-0-to-4...,How we grew from 0 to 4 million women on our f...,"Three years ago we launched Chicisimo, our goa..."
213,Sarthak Jain,3.9K,10,https://medium.com/nanonets/how-to-easily-dete...,How to easily Detect Objects with Deep Learnin...,Disclaimer: I’m building nanonets.com to help ...
217,Justin Lee,511,10,https://medium.com/swlh/the-beginners-guide-to...,The beginner’s guide to conversational commerc...,Your greengrocer does it. So does that guy sel...
218,Kai Stinchcombe,44K,11,https://medium.com/@kaistinchcombe/decentraliz...,Blockchain is not only crappy technology but a...,Blockchain is not only crappy technology but a...
221,Sarthak Jain,3.9K,10,https://medium.com/nanonets/how-to-easily-dete...,How to easily Detect Objects with Deep Learnin...,Disclaimer: I’m building nanonets.com to help ...
224,Kai Stinchcombe,44K,11,https://medium.com/@kaistinchcombe/decentraliz...,Blockchain is not only crappy technology but a...,Blockchain is not only crappy technology but a...
231,Slav Ivanov,4.4K,10,https://blog.slavv.com/37-reasons-why-your-neu...,37 Reasons why your Neural Network is not work...,The network had been training for the last 12 ...
234,Diana Filippova,1,11,https://medium.com/@dnafilippova/de-la-coop%C3...,De la coopération entre les hommes et les mac...,Originally published at www.cuberevue.com on N...
251,Vivek Yadav,425,11,https://chatbotslife.com/using-augmentation-to...,An augmentation based deep neural network appr...,"Overview\nIn this post, we will go over the wo..."
256,Camron Godbout,341,10,https://hackernoon.com/tensorflow-in-a-nutshel...,TensorFlow in a Nutshell — Part Three: All the...,Make sure to check out the other articles here...
264,Slav Ivanov,4.4K,10,https://blog.slavv.com/37-reasons-why-your-neu...,37 Reasons why your Neural Network is not work...,The network had been training for the last 12 ...
268,Jerry Chen,2.3K,11,https://news.greylock.com/the-new-moats-53f61a...,The New Moats – Greylock Perspectives,To build a sustainable and profitable business...
269,Sarthak Jain,3.9K,10,https://medium.com/nanonets/how-to-easily-dete...,How to easily Detect Objects with Deep Learnin...,Disclaimer: I’m building nanonets.com to help ...
273,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T..."
278,Sarthak Jain,3.9K,10,https://medium.com/nanonets/how-to-easily-dete...,How to easily Detect Objects with Deep Learnin...,Disclaimer: I’m building nanonets.com to help ...
294,Avinash Sharma V,6.9K,10,https://medium.com/the-theory-of-everything/un...,Understanding Activation Functions in Neural N...,"Recently, a colleague of mine asked me a few q..."
305,Nikolai Savas,50,10,https://medium.com/@savas/craig-using-neural-n...,CrAIg: Using Neural Networks to learn Mario – ...,Joe Crozier and I recently came back from YHac...
316,Dhruv Parthasarathy,665,11,https://medium.com/@dhruvp/how-to-write-a-neur...,Write an AI to win at Pong from scratch with R...,There’s a huge difference between reading abou...
319,Avinash Sharma V,6.9K,10,https://medium.com/the-theory-of-everything/un...,Understanding Activation Functions in Neural N...,"Recently, a colleague of mine asked me a few q..."
321,Slav Ivanov,4.4K,10,https://blog.slavv.com/37-reasons-why-your-neu...,37 Reasons why your Neural Network is not work...,The network had been training for the last 12 ...
325,Neelabh Pant,2K,11,https://blog.statsbot.co/time-series-predictio...,A Guide For Time Series Prediction Using Recur...,The Statsbot team has already published the ar...
328,Sarthak Jain,3.9K,10,https://medium.com/nanonets/how-to-easily-dete...,How to easily Detect Objects with Deep Learnin...,Disclaimer: I’m building nanonets.com to help ...

In [35]:
# isnull()  returns a DataFrame where each cell is either True or False depending on that cell's null status.
data_f.isnull()

     author  claps  reading_time   link  title   text
0     False  False         False  False  False  False
1     False  False         False  False  False  False
2     False  False         False  False  False  False
3     False  False         False  False  False  False
4     False  False         False  False  False  False
..      ...    ...           ...    ...    ...    ...
332   False  False         False  False  False  False
333   False  False         False  False  False  False
334   False  False         False  False  False  False
335   False  False         False  False  False  False
336   False  False         False  False  False  False

[337 rows x 6 columns]

In [36]:
#count non value in data
# we can know How many missing value??
data_f.isnull().sum()

author          0
claps           0
reading_time    0
link            0
title           0
text            0
dtype: int64

###### Assigning data

In [37]:
import numpy as np
data_f['num_comments']=np.random.randint(1,50,len(data_f))
data_f

,author,claps,reading_time,link,title,text,num_comments
0,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T...",31
1,Conor Dewey,1.4K,7,https://towardsdatascience.com/python-for-data...,Python for Data Science: 8 Concepts You May Ha...,If you’ve ever found yourself looking up the s...,28
2,William Koehrsen,2.8K,11,https://towardsdatascience.com/automated-featu...,Automated Feature Engineering in Python – Towa...,Machine learning is increasingly moving from h...,35
3,Gant Laborde,1.3K,7,https://medium.freecodecamp.org/machine-learni...,Machine Learning: how to go from Zero to Hero ...,If your understanding of A.I. and Machine Lear...,26
4,Emmanuel Ameisen,935,11,https://blog.insightdatascience.com/reinforcem...,Reinforcement Learning from scratch – Insight ...,Want to learn about applied Artificial Intelli...,46
...,...,...,...,...,...,...,...
332,Daniel Simmons,3.4K,8,https://itnext.io/you-can-build-a-neural-netwo...,You can build a neural network in JavaScript e...,Click here to share this article on LinkedIn »...,10
333,Eugenio Culurciello,2.8K,13,https://towardsdatascience.com/artificial-inte...,"Artificial Intelligence, AI in 2018 and beyond...",These are my opinions on where deep neural net...,24
334,Devin Soni,5.8K,4,https://towardsdatascience.com/spiking-neural-...,"Spiking Neural Networks, the Next Generation o...",Everyone who has been remotely tuned in to rec...,23
335,Carlos E. Perez,3.9K,7,https://medium.com/intuitionmachine/neurons-ar...,Surprise! Neurons are Now More Complex than We...,One of the biggest misconceptions around is th...,9
336,Nityesh Agarwal,2.4K,13,https://towardsdatascience.com/wth-does-a-neur...,“WTH does a neural network even learn??” — a n...,"I believe, we all have that psychologist/philo...",10

###### Drop specified labels from rows or columns.

In [38]:
# we can remove rows or columns from data by drop()
data_f.drop(['num_comments'], axis=1)
data_f

,author,claps,reading_time,link,title,text,num_comments
0,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T...",31
1,Conor Dewey,1.4K,7,https://towardsdatascience.com/python-for-data...,Python for Data Science: 8 Concepts You May Ha...,If you’ve ever found yourself looking up the s...,28
2,William Koehrsen,2.8K,11,https://towardsdatascience.com/automated-featu...,Automated Feature Engineering in Python – Towa...,Machine learning is increasingly moving from h...,35
3,Gant Laborde,1.3K,7,https://medium.freecodecamp.org/machine-learni...,Machine Learning: how to go from Zero to Hero ...,If your understanding of A.I. and Machine Lear...,26
4,Emmanuel Ameisen,935,11,https://blog.insightdatascience.com/reinforcem...,Reinforcement Learning from scratch – Insight ...,Want to learn about applied Artificial Intelli...,46
...,...,...,...,...,...,...,...
332,Daniel Simmons,3.4K,8,https://itnext.io/you-can-build-a-neural-netwo...,You can build a neural network in JavaScript e...,Click here to share this article on LinkedIn »...,10
333,Eugenio Culurciello,2.8K,13,https://towardsdatascience.com/artificial-inte...,"Artificial Intelligence, AI in 2018 and beyond...",These are my opinions on where deep neural net...,24
334,Devin Soni,5.8K,4,https://towardsdatascience.com/spiking-neural-...,"Spiking Neural Networks, the Next Generation o...",Everyone who has been remotely tuned in to rec...,23
335,Carlos E. Perez,3.9K,7,https://medium.com/intuitionmachine/neurons-ar...,Surprise! Neurons are Now More Complex than We...,One of the biggest misconceptions around is th...,9
336,Nityesh Agarwal,2.4K,13,https://towardsdatascience.com/wth-does-a-neur...,“WTH does a neural network even learn??” — a n...,"I believe, we all have that psychologist/philo...",10

###### Understanding Our Data

In [39]:
# using describe() "summary function"
data_f.reading_time.describe()

count    337.000000
mean       9.700297
std        5.482855
min        2.000000
25%        6.000000
50%        8.000000
75%       13.000000
max       31.000000
Name: reading_time, dtype: float64

In [40]:
data_f.author.describe()

count              337
unique             182
top       Adam Geitgey
freq                16
Name: author, dtype: object

In [41]:
# To see a list of unique values we can use the unique() function
data_f.author.unique()
# note : Although repeated 'Justin Lee' 5 times , There are in unique array
# Each repeated value appears once in unique array

array(['Justin Lee', 'Conor Dewey', 'William Koehrsen', 'Gant Laborde',
       'Emmanuel Ameisen', 'Irhum Shafkat', 'Sam Drozdov',
       'Abhishek Parbhakar', 'Aman Dalmia', 'Sophia Arakelyan',
       'Dr. GP Pulipaka', 'Scott Santens', 'Adam Geitgey', 'Xiaohan Zeng',
       'Gil Fewster', 'David Venturi', 'Michael Jordan', 'Eran Kampf',
       'Oliver Lindberg', 'Xu Wenhao', 'Netflix Technology Blog',
       'Wolf Garbe', 'Paul Christiano', 'Robbie Tilton',
       'James Faghmous ', 'Datafiniti', 'Arjan Haring 🔮🔨', 'Eventbrite',
       'Akash Shende', 'Hrishikesh Huilgolkar', 'Shivon Zilis',
       'AirbnbEng', 'Yingjie Miao ', 'Pinterest Engineering',
       'Nikhil Dandekar', 'Jeff Smith', 'Chris Jagers', 'John Wittenauer',
       'Christopher Nguyen', 'Per Harald Borgen', 'Ahmed El Deeb',
       'Matt Fogel', 'Illia Polosukhin', 'Christophe Bourguignat',
       "I'Boss Potiwarakorn", 'samim', 'Arthur Juliani', 'Tal Perry',
       'Andrej Karpathy', 'Vishal Maini', 'Tim Anglade', 'Sophia Ciocca',
       'Dhruv Parthasarathy', 'Sebastian Heinz', 'Blaise Aguera y Arcas',
       'James Le', 'Mybridge', 'David Foster', 'George Seif',
       'Simon Greenman', 'Eugenio Culurciello', 'WiseWolf Fund',
       'Michael Solana', 'Lance Ulanoff', 'Matt Schlicht',
       'Milo Spencer-Harper', 'Greg Fish', 'Frank Diana', 'Wildcat2030',
       'Theo', 'x.ai', 'Roland Trimmel', 'Espen Waldal', 'Joe Johnston',
       'Nadav Gur', 'Pandorabots', 'Denny Vrandečić', 'Thaddeus Howze',
       'Tommy Thompson', 'Arik Sosman', 'Tony Aubé', "Matt O'Leary",
       'Tanay Jaipuria', 'Ben Brown', 'Rand Hindi', 'Chris Dixon',
       'François Chollet', 'Max Pechyonkin', 'Slav Ivanov',
       'Geoff Nesnow', 'Aman Agarwal', 'Gaurav Kaila', 'James Loy',
       'Chintan Trivedi', 'Leon Zhou', 'Erick Muzart Fonseca dos Santos',
       'Chris Kalahiki', 'Stefan Kojouharov', 'Francesco Gadaleta',
       'Jim Fleming', 'Christian Hernandez', 'Venture Scanner',
       'Derrick Harris', 'Kyle McDonald', 'Nathan Benaich',
       'Erik Hallström', 'Alexandr Honchar', 'Arvind N', 'Gary Marcus',
       'Bargava', 'Seth Weidman', 'Gabriel Aldamiz...', 'Sarthak Jain',
       'Emil Wallner', 'James JD Sutton', 'Kai Stinchcombe',
       'savedroid ICO', 'Brandon Morelli', 'Gabriel Jiménez',
       'Tyler Elliot Bettilyon', 'Berit Anderson', 'Sirui Li',
       'Diana Filippova', 'Peter Sweeney', 'E.C. McCarthy',
       'Jorge Camacho', 'Matt Wiese', "Tim O'Reilly", 'James Cooper',
       'Joel Leeman', 'Scott Smith', 'iDanScott', 'Josh', 'paulson',
       'Christopher Wolf Nordlinger', 'Louis Rosenfeld', 'Matt Harvey',
       'Vivek Yadav', 'Carlos Beltran', 'Oxford University',
       'Maciej Lipiec', 'Camron Godbout', 'Dominik Felix', 'Greg Gascon',
       'Keval Patel', 'Eduard Tyantov', 'Maruti Techlabs', 'Jerry Chen',
       'Gaurav Oberoi', 'Nick Bourdakos', 'Mark Johnson',
       'Leigh Alexander', 'Daniel Simmons', 'Logan Spears', 'Bharath Raj',
       'Daniel Rothmann', 'Amine Aoullay', 'Jonathan Balaban',
       'SAGAR SHARMA', 'Jae Duk Seo', 'Wallarm', 'Maryna Hlaiboroda',
       'Kelvin Li', 'Avinash Sharma V', "Elle O'Brien", 'Karl N.',
       'Nikolai Savas', 'Dr Ben Medlock', 'Nieves Ábalos', 'Rohan Kapur',
       'Shi Yan', 'Ross Goodwin', 'Eric Elliott', 'Waleed Abdulla', 'gk_',
       'nafrondel', 'Neelabh Pant', 'Favio Vázquez',
       'Oleksandr Savsunenko', 'Devin Soni', 'Carlos E. Perez',
       'Nityesh Agarwal'], dtype=object)

In [42]:
#To see a list of unique values and how often they occur in the dataset
data_f.author.value_counts()

Adam Geitgey                   16
Arthur Juliani                 10
Slav Ivanov                    10
Milo Spencer-Harper             8
Dhruv Parthasarathy             6
                               ..
Emil Wallner                    1
iDanScott                       1
Christopher Wolf Nordlinger     1
Maruti Techlabs                 1
Tim O'Reilly                    1
Name: author, Length: 182, dtype: int64

##### Maps
It is possible to iterate over a DataFrame or Series as you would with a list, but doing so — especially on large datasets — is very slow.

map is function that takes one set of values and "maps" them to another set of values.
We can transform data from the format it is in now to the format that we want it using Maps.

There are two mapping methods:
- `map()` method only works on a pandas series,The function you pass to `map()` should expect a single value from the Series and return a transformed version of that value
- `apply` method can be applied both to series and dataframes,if we want to transform a whole DataFrame by calling a custom method on each row.

###### NOTE:
`map()` and `apply` don't modify the original data they're called on

In [58]:
def str_to_int(strk):
    return float(strk[:-1]) if 'K'in strk else float(strk)/1000.0
    
str_to_int('2.8K')

2.8

In [64]:
data_f.loc[:,'claps'].apply(str_to_int)

0      8.300
1      1.400
2      2.800
3      1.300
4      0.935
       ...
332    3.400
333    2.800
334    5.800
335    3.900
336    2.400
Name: claps, Length: 337, dtype: float64

In [65]:
data_f.loc[:,'claps'].map(str_to_int)

0      8.300
1      1.400
2      2.800
3      1.300
4      0.935
       ...
332    3.400
333    2.800
334    5.800
335    3.900
336    2.400
Name: claps, Length: 337, dtype: float64

In [90]:
def str_to_int2(row):
    return float(row.claps[:-1]) if 'K'in row.claps else float(row.claps)/1000.0


data_f.apply(str_to_int, axis=1)
#data_f.map(str_to_int, axis=1) Error

0      8.300
1      1.400
2      2.800
3      1.300
4      0.935
       ...
332    3.400
333    2.800
334    5.800
335    3.900
336    2.400
Length: 337, dtype: float64

###### correlation
we use correlation to discover relationships between variables, the value of correlation coefficient is between 1,-1 
- correlation coefficient increase (close to 1) , means that there is linear relation(directly proportionality or  positive increase).
- correlation coefficient decrease (close to -1) , means that there is linear relation( inversely proportionality or  negative decrease).
- correlation coefficient is close to 0 , means that there isn’t a positive or negative increase.

In [124]:
data_f.corr(method ='pearson')

              reading_time  num_comments
reading_time      1.000000     -0.118874
num_comments     -0.118874      1.000000

###### Filtering data using query() method
taking expression to filter data, return Filtered Data

In [126]:
data_f.query('reading_time > 5') # return articles have reading time greater than 5

,author,claps,reading_time,link,title,text,num_comments
0,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T...",31
1,Conor Dewey,1.4K,7,https://towardsdatascience.com/python-for-data...,Python for Data Science: 8 Concepts You May Ha...,If you’ve ever found yourself looking up the s...,28
2,William Koehrsen,2.8K,11,https://towardsdatascience.com/automated-featu...,Automated Feature Engineering in Python – Towa...,Machine learning is increasingly moving from h...,35
3,Gant Laborde,1.3K,7,https://medium.freecodecamp.org/machine-learni...,Machine Learning: how to go from Zero to Hero ...,If your understanding of A.I. and Machine Lear...,26
4,Emmanuel Ameisen,935,11,https://blog.insightdatascience.com/reinforcem...,Reinforcement Learning from scratch – Insight ...,Want to learn about applied Artificial Intelli...,46
...,...,...,...,...,...,...,...
331,Max Pechyonkin,3.4K,8,https://towardsdatascience.com/stochastic-weig...,Stochastic Weight Averaging — a New Way to Get...,"In this article, I will discuss two interestin...",40
332,Daniel Simmons,3.4K,8,https://itnext.io/you-can-build-a-neural-netwo...,You can build a neural network in JavaScript e...,Click here to share this article on LinkedIn »...,10
333,Eugenio Culurciello,2.8K,13,https://towardsdatascience.com/artificial-inte...,"Artificial Intelligence, AI in 2018 and beyond...",These are my opinions on where deep neural net...,24
335,Carlos E. Perez,3.9K,7,https://medium.com/intuitionmachine/neurons-ar...,Surprise! Neurons are Now More Complex than We...,One of the biggest misconceptions around is th...,9
336,Nityesh Agarwal,2.4K,13,https://towardsdatascience.com/wth-does-a-neur...,“WTH does a neural network even learn??” — a n...,"I believe, we all have that psychologist/philo...",10

#### Grouping
`groupby()` function is used to split the data into groups based on some criteria.

In [80]:
data_f.groupby('author').first()

,claps,reading_time,link,title,text,num_comments
author,,,,,,
Abhishek Parbhakar,937,6,https://towardsdatascience.com/must-know-infor...,Must know Information Theory concepts in Deep ...,Information theory is an important field that ...,20
Adam Geitgey,35K,15,https://medium.com/@ageitgey/machine-learning-...,Machine Learning is Fun! – Adam Geitgey – Medium,Update: This article is part of a series. Chec...,48
Ahmed El Deeb,593,7,https://medium.com/rants-on-machine-learning/w...,What to do with “small” data? – Rants on Machi...,By Ahmed El Deeb\nMany technology companies no...,11
AirbnbEng,369,11,https://medium.com/airbnb-engineering/architec...,Architecting a Machine Learning System for Ris...,"By Naseem Hakim & Aaron Keys\nAt Airbnb, we wa...",37
Akash Shende,1,3,https://medium.com/@akash0x53/color-based-obje...,Color Based Object Segmentation – Akash Shende...,"In this picture, Pranav Mistry is using color ...",25
...,...,...,...,...,...,...
nafrondel,1.7K,5,https://medium.com/@nafrondel/you-requested-so...,You requested someone with a degree in this? *...,You requested someone with a degree in this? *...,28
paulson,1,17,https://electricliterature.com/what-could-happ...,What Could Happen If We Did Things Right: An I...,Is Kim Stanley Robinson our greatest political...,45
samim,301,4,https://medium.com/@samim/generating-stories-a...,Generating Stories about Images – samim – Medium,Stories are a fundamental human tool that we u...,46
savedroid ICO,340,3,https://medium.com/@ico_8796/sneakpeek-the-sav...,#SNEAKPEEK The savedroid crypto saving app — P...,The international beta of our brand new crypto...,6
x.ai,1,2,https://medium.com/@xdotai/i-scheduled-1-019-m...,"I scheduled 1,019 meetings in 2012 — and that ...",The number of meetings that I scheduled in 201...,13

In [82]:
data_f.groupby('author').get_group('Justin Lee')

,author,claps,reading_time,link,title,text,num_comments
0,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T...",31
86,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T...",2
217,Justin Lee,511,10,https://medium.com/swlh/the-beginners-guide-to...,The beginner’s guide to conversational commerc...,Your greengrocer does it. So does that guy sel...,16
273,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T...",49

In [79]:
data_f.groupby(['author','title']).first()

                                                                       claps  \
author             title
Abhishek Parbhakar Must know Information Theory concepts in Deep L...    937
                   Why Data Scientists love Gaussian? – Towards Da...   1.7K
Adam Geitgey       Machine Learning is Fun Part 5: Language Transl...   5.8K
                   Machine Learning is Fun Part 6: How to do Speec...   6.8K
                   Machine Learning is Fun! Part 2 – Adam Geitgey ...  10.4K
...                                                                      ...
paulson            What Could Happen If We Did Things Right: An In...      1
samim              Generating Stories about Images – samim – Medium      301
                   Obama-RNN — Machine generated political speeche...    323
savedroid ICO      #SNEAKPEEK The savedroid crypto saving app — Pa...    340
x.ai               I scheduled 1,019 meetings in 2012 — and that d...      1

                                                                       reading_time  \
author             title
Abhishek Parbhakar Must know Information Theory concepts in Deep L...             6
                   Why Data Scientists love Gaussian? – Towards Da...             3
Adam Geitgey       Machine Learning is Fun Part 5: Language Transl...            16
                   Machine Learning is Fun Part 6: How to do Speec...            11
                   Machine Learning is Fun! Part 2 – Adam Geitgey ...            15
...                                                                             ...
paulson            What Could Happen If We Did Things Right: An In...            17
samim              Generating Stories about Images – samim – Medium               4
                   Obama-RNN — Machine generated political speeche...             8
savedroid ICO      #SNEAKPEEK The savedroid crypto saving app — Pa...             3
x.ai               I scheduled 1,019 meetings in 2012 — and that d...             2

                                                                                                                    link  \
author             title
Abhishek Parbhakar Must know Information Theory concepts in Deep L...  https://towardsdatascience.com/must-know-infor...
                   Why Data Scientists love Gaussian? – Towards Da...  https://towardsdatascience.com/why-data-scient...
Adam Geitgey       Machine Learning is Fun Part 5: Language Transl...  https://medium.com/@ageitgey/machine-learning-...
                   Machine Learning is Fun Part 6: How to do Speec...  https://medium.com/@ageitgey/machine-learning-...
                   Machine Learning is Fun! Part 2 – Adam Geitgey ...  https://medium.com/@ageitgey/machine-learning-...
...                                                                                                                  ...
paulson            What Could Happen If We Did Things Right: An In...  https://electricliterature.com/what-could-happ...
samim              Generating Stories about Images – samim – Medium    https://medium.com/@samim/generating-stories-a...
                   Obama-RNN — Machine generated political speeche...  https://medium.com/@samim/obama-rnn-machine-ge...
savedroid ICO      #SNEAKPEEK The savedroid crypto saving app — Pa...  https://medium.com/@ico_8796/sneakpeek-the-sav...
x.ai               I scheduled 1,019 meetings in 2012 — and that d...  https://medium.com/@xdotai/i-scheduled-1-019-m...

                                                                                                                    text  \
author             title
Abhishek Parbhakar Must know Information Theory concepts in Deep L...  Information theory is an important field that ...
                   Why Data Scientists love Gaussian? – Towards Da...  For Deep Learning & Machine Learning engineers...
Adam Geitgey       Machine Learning is Fun Part 5: Language Transl...  Update: This article is part of a series. Chec...
                   Machine Learning is Fun Part 6: How to do Speec...  Update: This article is part of a series. Chec...
                   Machine Learning is Fun! Part 2 – Adam Geitgey ...  Update: This article is part of a series. Chec...
...                                                                                                                  ...
paulson            What Could Happen If We Did Things Right: An In...  Is Kim Stanley Robinson our greatest political...
samim              Generating Stories about Images – samim – Medium    Stories are a fundamental human tool that we u...
                   Obama-RNN — Machine generated political speeche...  Political speeches are among the most powerful...
savedroid ICO      #SNEAKPEEK The savedroid crypto saving app — Pa...  The international beta of our brand new crypto...
x.ai               I scheduled 1,019 meetings in 2012 — and that d...  The number of meetings that I scheduled in 201...

                                                                       num_comments
author             title
Abhishek Parbhakar Must know Information Theory concepts in Deep L...            20
                   Why Data Scientists love Gaussian? – Towards Da...             7
Adam Geitgey       Machine Learning is Fun Part 5: Language Transl...            31
                   Machine Learning is Fun Part 6: How to do Speec...            42
                   Machine Learning is Fun! Part 2 – Adam Geitgey ...            17
...                                                                             ...
paulson            What Could Happen If We Did Things Right: An In...            45
samim              Generating Stories about Images – samim – Medium              46
                   Obama-RNN — Machine generated political speeche...            11
savedroid ICO      #SNEAKPEEK The savedroid crypto saving app — Pa...             6
x.ai               I scheduled 1,019 meetings in 2012 — and that d...            13

[230 rows x 5 columns]

In [84]:
data_f.groupby('author').sum() #sum values of reading_time for each author

                    reading_time  num_comments
author
Abhishek Parbhakar            21           104
Adam Geitgey                 228           487
Ahmed El Deeb                 10            57
AirbnbEng                     20            52
Akash Shende                   3            25
...                          ...           ...
nafrondel                      5            28
paulson                       17            45
samim                         12            57
savedroid ICO                  3             6
x.ai                           2            13

[182 rows x 2 columns]

In [85]:
data_f.groupby('author').size() #returned values are the sizes of each group.

author
Abhishek Parbhakar     4
Adam Geitgey          16
Ahmed El Deeb          2
AirbnbEng              2
Akash Shende           1
                      ..
nafrondel              1
paulson                1
samim                  2
savedroid ICO          1
x.ai                   1
Length: 182, dtype: int64

In [86]:
data_f.groupby('author').count()#number of element in group

                    claps  reading_time  link  title  text  num_comments
author
Abhishek Parbhakar      4             4     4      4     4             4
Adam Geitgey           16            16    16     16    16            16
Ahmed El Deeb           2             2     2      2     2             2
AirbnbEng               2             2     2      2     2             2
Akash Shende            1             1     1      1     1             1
...                   ...           ...   ...    ...   ...           ...
nafrondel               1             1     1      1     1             1
paulson                 1             1     1      1     1             1
samim                   2             2     2      2     2             2
savedroid ICO           1             1     1      1     1             1
x.ai                    1             1     1      1     1             1

[182 rows x 6 columns]

We can use any of the summary functions we've used before with this data.

In [87]:
data_f.groupby('author').reading_time.min() # return the least reading time in each group

author
Abhishek Parbhakar     3
Adam Geitgey          11
Ahmed El Deeb          3
AirbnbEng              9
Akash Shende           3
                      ..
nafrondel              5
paulson               17
samim                  4
savedroid ICO          3
x.ai                   2
Name: reading_time, Length: 182, dtype: int64

In [88]:
data_f.groupby('author').describe() # returne summary statistic for each group

                   reading_time                                            \
                          count   mean       std   min    25%   50%   75%
author
Abhishek Parbhakar          4.0   5.25  1.500000   3.0   5.25   6.0   6.0
Adam Geitgey               16.0  14.25  1.570563  11.0  13.00  15.0  15.0
Ahmed El Deeb               2.0   5.00  2.828427   3.0   4.00   5.0   6.0
AirbnbEng                   2.0  10.00  1.414214   9.0   9.50  10.0  10.5
Akash Shende                1.0   3.00       NaN   3.0   3.00   3.0   3.0
...                         ...    ...       ...   ...    ...   ...   ...
nafrondel                   1.0   5.00       NaN   5.0   5.00   5.0   5.0
paulson                     1.0  17.00       NaN  17.0  17.00  17.0  17.0
samim                       2.0   6.00  2.828427   4.0   5.00   6.0   7.0
savedroid ICO               1.0   3.00       NaN   3.0   3.00   3.0   3.0
x.ai                        1.0   2.00       NaN   2.0   2.00   2.0   2.0

                         num_comments                                         \
                     max        count     mean        std   min    25%   50%
author
Abhishek Parbhakar   6.0          4.0  26.0000  16.872068   7.0  16.75  25.0
Adam Geitgey        16.0         16.0  30.4375  11.876974  13.0  18.50  31.0
Ahmed El Deeb        7.0          2.0  28.5000  24.748737  11.0  19.75  28.5
AirbnbEng           11.0          2.0  26.0000  15.556349  15.0  20.50  26.0
Akash Shende         3.0          1.0  25.0000        NaN  25.0  25.00  25.0
...                  ...          ...      ...        ...   ...    ...   ...
nafrondel            5.0          1.0  28.0000        NaN  28.0  28.00  28.0
paulson             17.0          1.0  45.0000        NaN  45.0  45.00  45.0
samim                8.0          2.0  28.5000  24.748737  11.0  19.75  28.5
savedroid ICO        3.0          1.0   6.0000        NaN   6.0   6.00   6.0
x.ai                 2.0          1.0  13.0000        NaN  13.0  13.00  13.0


                      75%   max
author
Abhishek Parbhakar  34.25  47.0
Adam Geitgey        41.25  48.0
Ahmed El Deeb       37.25  46.0
AirbnbEng           31.50  37.0
Akash Shende        25.00  25.0
...                   ...   ...
nafrondel           28.00  28.0
paulson             45.00  45.0
samim               37.25  46.0
savedroid ICO        6.00   6.0
x.ai                13.00  13.0

[182 rows x 16 columns]

###### Aggregation
 it lets we run a different functions on our DataFrame simultaneously.

In [94]:
data_f.groupby('author').reading_time.agg([min,max]) # min and max value in reading time for each group

                    min  max
author
Abhishek Parbhakar    3    6
Adam Geitgey         11   16
Ahmed El Deeb         3    7
AirbnbEng             9   11
Akash Shende          3    3
...                 ...  ...
nafrondel             5    5
paulson              17   17
samim                 4    8
savedroid ICO         3    3
x.ai                  2    2

[182 rows x 2 columns]

In [102]:
data_f.index

RangeIndex(start=0, stop=337, step=1)

#### Multi-indexes
Multi-level indexing help us very complex data analysis and manipulation, for working with higher dimensional data.

In [111]:
data_2=data_f.groupby(['author','title']).count()
data_2

                                                                       claps  \
author             title
Abhishek Parbhakar Must know Information Theory concepts in Deep L...      3
                   Why Data Scientists love Gaussian? – Towards Da...      1
Adam Geitgey       Machine Learning is Fun Part 5: Language Transl...      2
                   Machine Learning is Fun Part 6: How to do Speec...      2
                   Machine Learning is Fun! Part 2 – Adam Geitgey ...      4
...                                                                      ...
paulson            What Could Happen If We Did Things Right: An In...      1
samim              Generating Stories about Images – samim – Medium        1
                   Obama-RNN — Machine generated political speeche...      1
savedroid ICO      #SNEAKPEEK The savedroid crypto saving app — Pa...      1
x.ai               I scheduled 1,019 meetings in 2012 — and that d...      1

                                                                       reading_time  \
author             title
Abhishek Parbhakar Must know Information Theory concepts in Deep L...             3
                   Why Data Scientists love Gaussian? – Towards Da...             1
Adam Geitgey       Machine Learning is Fun Part 5: Language Transl...             2
                   Machine Learning is Fun Part 6: How to do Speec...             2
                   Machine Learning is Fun! Part 2 – Adam Geitgey ...             4
...                                                                             ...
paulson            What Could Happen If We Did Things Right: An In...             1
samim              Generating Stories about Images – samim – Medium               1
                   Obama-RNN — Machine generated political speeche...             1
savedroid ICO      #SNEAKPEEK The savedroid crypto saving app — Pa...             1
x.ai               I scheduled 1,019 meetings in 2012 — and that d...             1

                                                                       link  \
author             title
Abhishek Parbhakar Must know Information Theory concepts in Deep L...     3
                   Why Data Scientists love Gaussian? – Towards Da...     1
Adam Geitgey       Machine Learning is Fun Part 5: Language Transl...     2
                   Machine Learning is Fun Part 6: How to do Speec...     2
                   Machine Learning is Fun! Part 2 – Adam Geitgey ...     4
...                                                                     ...
paulson            What Could Happen If We Did Things Right: An In...     1
samim              Generating Stories about Images – samim – Medium       1
                   Obama-RNN — Machine generated political speeche...     1
savedroid ICO      #SNEAKPEEK The savedroid crypto saving app — Pa...     1
x.ai               I scheduled 1,019 meetings in 2012 — and that d...     1

                                                                       text  \
author             title
Abhishek Parbhakar Must know Information Theory concepts in Deep L...     3
                   Why Data Scientists love Gaussian? – Towards Da...     1
Adam Geitgey       Machine Learning is Fun Part 5: Language Transl...     2
                   Machine Learning is Fun Part 6: How to do Speec...     2
                   Machine Learning is Fun! Part 2 – Adam Geitgey ...     4
...                                                                     ...
paulson            What Could Happen If We Did Things Right: An In...     1
samim              Generating Stories about Images – samim – Medium       1
                   Obama-RNN — Machine generated political speeche...     1
savedroid ICO      #SNEAKPEEK The savedroid crypto saving app — Pa...     1
x.ai               I scheduled 1,019 meetings in 2012 — and that d...     1

                                                                       num_comments
author             title
Abhishek Parbhakar Must know Information Theory concepts in Deep L...             3
                   Why Data Scientists love Gaussian? – Towards Da...             1
Adam Geitgey       Machine Learning is Fun Part 5: Language Transl...             2
                   Machine Learning is Fun Part 6: How to do Speec...             2
                   Machine Learning is Fun! Part 2 – Adam Geitgey ...             4
...                                                                             ...
paulson            What Could Happen If We Did Things Right: An In...             1
samim              Generating Stories about Images – samim – Medium               1
                   Obama-RNN — Machine generated political speeche...             1
savedroid ICO      #SNEAKPEEK The savedroid crypto saving app — Pa...             1
x.ai               I scheduled 1,019 meetings in 2012 — and that d...             1

[230 rows x 5 columns]

In [106]:
data_2.index

MultiIndex([('Abhishek Parbhakar', ...),
            ('Abhishek Parbhakar', ...),
            (      'Adam Geitgey', ...),
            (      'Adam Geitgey', ...),
            (      'Adam Geitgey', ...),
            (      'Adam Geitgey', ...),
            (      'Adam Geitgey', ...),
            (      'Adam Geitgey', ...),
            (     'Ahmed El Deeb', ...),
            (     'Ahmed El Deeb', ...),
            ...
            (         'Xu Wenhao', ...),
            (     'Yingjie Miao ', ...),
            (               'gk_', ...),
            (         'iDanScott', ...),
            (         'nafrondel', ...),
            (           'paulson', ...),
            (             'samim', ...),
            (             'samim', ...),
            (     'savedroid ICO', ...),
            (              'x.ai', ...)],
           names=['author', 'title'], length=230)

###### Combining:
we use `concat()` to combine two dataframe and Given a list of dataframe .

In [127]:
data_f2=pd.read_csv('medium_data.csv',nrows=100)# set The same number of rows of data_f ===> data_f.shape[0]
data_f2

,id,url,title,subtitle,image,claps,responses,reading_time,publication,date
0,1,https://towardsdatascience.com/a-beginners-gui...,A Beginner’s Guide to Word Embedding with Gens...,NaN,1.png,850,8,8,Towards Data Science,2019-05-30
1,2,https://towardsdatascience.com/hands-on-graph-...,Hands-on Graph Neural Networks with PyTorch & ...,NaN,2.png,1100,11,9,Towards Data Science,2019-05-30
2,3,https://towardsdatascience.com/how-to-use-ggpl...,How to Use ggplot2 in Python,A Grammar of Graphics for Python,3.png,767,1,5,Towards Data Science,2019-05-30
3,4,https://towardsdatascience.com/databricks-how-...,Databricks: How to Save Files in CSV on Your L...,When I work on Python projects dealing…,4.jpeg,354,0,4,Towards Data Science,2019-05-30
4,5,https://towardsdatascience.com/a-step-by-step-...,A Step-by-Step Implementation of Gradient Desc...,One example of building neural…,5.jpeg,211,3,4,Towards Data Science,2019-05-30
...,...,...,...,...,...,...,...,...,...,...
95,96,https://medium.com/swlh/how-to-live-in-the-pre...,How to Live in the Present and Make Your Time ...,NaN,96.jpeg,7,0,6,The Startup,2019-05-30
96,97,https://medium.com/swlh/look-ma-no-hands-3ddef...,"Look ma, no hands!",NaN,97.jpeg,77,0,7,The Startup,2019-05-30
97,98,https://medium.com/swlh/raised-on-nintendo-64-...,Raised on Nintendo 64: My Story on Bilingualism,NaN,98.jpeg,37,3,6,The Startup,2019-05-30
98,99,https://medium.com/swlh/i-dont-know-what-to-do...,I Don’t Know What To Do With My Hands,How to get the most out of your best visual aids,99.jpg,111,0,4,The Startup,2019-05-30
99,100,https://medium.com/swlh/3-tips-for-sticking-to...,3 Tips for Sticking to New Habits When Travelling,Lessons learned from my own travels,100.jpeg,64,0,7,The Startup,2019-05-30

In [129]:
article_data=pd.concat([data_f, data_f2])
article_data

,author,claps,reading_time,link,title,text,num_comments,id,url,subtitle,image,responses,publication,date
0,Justin Lee,8.3K,11,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T...",31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Conor Dewey,1.4K,7,https://towardsdatascience.com/python-for-data...,Python for Data Science: 8 Concepts You May Ha...,If you’ve ever found yourself looking up the s...,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,William Koehrsen,2.8K,11,https://towardsdatascience.com/automated-featu...,Automated Feature Engineering in Python – Towa...,Machine learning is increasingly moving from h...,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Gant Laborde,1.3K,7,https://medium.freecodecamp.org/machine-learni...,Machine Learning: how to go from Zero to Hero ...,If your understanding of A.I. and Machine Lear...,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Emmanuel Ameisen,935,11,https://blog.insightdatascience.com/reinforcem...,Reinforcement Learning from scratch – Insight ...,Want to learn about applied Artificial Intelli...,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,7,6,NaN,How to Live in the Present and Make Your Time ...,NaN,NaN,96.0,https://medium.com/swlh/how-to-live-in-the-pre...,NaN,96.jpeg,0.0,The Startup,2019-05-30
96,NaN,77,7,NaN,"Look ma, no hands!",NaN,NaN,97.0,https://medium.com/swlh/look-ma-no-hands-3ddef...,NaN,97.jpeg,0.0,The Startup,2019-05-30
97,NaN,37,6,NaN,Raised on Nintendo 64: My Story on Bilingualism,NaN,NaN,98.0,https://medium.com/swlh/raised-on-nintendo-64-...,NaN,98.jpeg,3.0,The Startup,2019-05-30
98,NaN,111,4,NaN,I Don’t Know What To Do With My Hands,NaN,NaN,99.0,https://medium.com/swlh/i-dont-know-what-to-do...,How to get the most out of your best visual aids,99.jpg,0.0,The Startup,2019-05-30
99,NaN,64,7,NaN,3 Tips for Sticking to New Habits When Travelling,NaN,NaN,100.0,https://medium.com/swlh/3-tips-for-sticking-to...,Lessons learned from my own travels,100.jpeg,0.0,The Startup,2019-05-30

###### Dealing Data Missing
Entries missing values are given the value NaN.

To select NaN entries we can use `isnull()` .

To remove all columns or rows that contain least one missing value we can use `dropna()` .

To fill in missing values in a dataframe OR specify what we want the NaN values to be replaced with we can use `fillna()` .

In [130]:
article_data.isnull().sum()

author          100
claps             0
reading_time      0
link            100
title             0
text            100
num_comments    100
id              337
url             337
subtitle        385
image           339
responses       337
publication     337
date            337
dtype: int64

In [132]:
#article_data.dropna() #remove all the rows that contain a missing value
article_data.dropna(axis=1) #remove all columns with at least one missing value

   claps  reading_time                                              title
0   8.3K            11  Chatbots were the next big thing: what happene...
1   1.4K             7  Python for Data Science: 8 Concepts You May Ha...
2   2.8K            11  Automated Feature Engineering in Python – Towa...
3   1.3K             7  Machine Learning: how to go from Zero to Hero ...
4    935            11  Reinforcement Learning from scratch – Insight ...
..   ...           ...                                                ...
95     7             6  How to Live in the Present and Make Your Time ...
96    77             7                                 Look ma, no hands!
97    37             6    Raised on Nintendo 64: My Story on Bilingualism
98   111             4              I Don’t Know What To Do With My Hands
99    64             7  3 Tips for Sticking to New Habits When Travelling

[437 rows x 3 columns]

In [134]:
article_data.loc[:,['id','url','responses','publication','date']]

,id,url,responses,publication,date
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
95,96.0,https://medium.com/swlh/how-to-live-in-the-pre...,0.0,The Startup,2019-05-30
96,97.0,https://medium.com/swlh/look-ma-no-hands-3ddef...,0.0,The Startup,2019-05-30
97,98.0,https://medium.com/swlh/raised-on-nintendo-64-...,3.0,The Startup,2019-05-30
98,99.0,https://medium.com/swlh/i-dont-know-what-to-do...,0.0,The Startup,2019-05-30
99,100.0,https://medium.com/swlh/3-tips-for-sticking-to...,0.0,The Startup,2019-05-30

In [135]:
article_data.loc[:,['id','url','responses','publication','date']].fillna("Unknown")

,id,url,responses,publication,date
0,Unknown,Unknown,Unknown,Unknown,Unknown
1,Unknown,Unknown,Unknown,Unknown,Unknown
2,Unknown,Unknown,Unknown,Unknown,Unknown
3,Unknown,Unknown,Unknown,Unknown,Unknown
4,Unknown,Unknown,Unknown,Unknown,Unknown
...,...,...,...,...,...
95,96,https://medium.com/swlh/how-to-live-in-the-pre...,0,The Startup,2019-05-30
96,97,https://medium.com/swlh/look-ma-no-hands-3ddef...,0,The Startup,2019-05-30
97,98,https://medium.com/swlh/raised-on-nintendo-64-...,3,The Startup,2019-05-30
98,99,https://medium.com/swlh/i-dont-know-what-to-do...,0,The Startup,2019-05-30
99,100,https://medium.com/swlh/3-tips-for-sticking-to...,0,The Startup,2019-05-30

In [139]:
article_data.loc[:,'num_comments'].fillna(article_data.num_comments.mean())
#article_data.loc[:,'num_comments'].fillna(article_data.num_comments.mean()).isnull().sum()

0     31.000000
1     28.000000
2     35.000000
3     26.000000
4     46.000000
        ...
95    26.703264
96    26.703264
97    26.703264
98    26.703264
99    26.703264
Name: num_comments, Length: 437, dtype: float64

###### Parsing Dates
is convert dates it so that it is recognized as a date. 

The basic idea is that you need to point out which parts of the date are where and what punctuation is between them. but the most common are :
- `%d` for day,
- `%m` for month,
- `%y` for a two-digit year 
- `%Y` for a four digit year

For example:

   - 1/17/07 has the format `%m/%d/%y`

In [140]:
article_data.loc[:, 'date']

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
95    2019-05-30
96    2019-05-30
97    2019-05-30
98    2019-05-30
99    2019-05-30
Name: date, Length: 437, dtype: object

In [141]:
article_data.loc[:, 'date'].fillna('0000-00-00') 
# check date we find that the dtype of date "object" it will have strings in it.

0     0000-00-00
1     0000-00-00
2     0000-00-00
3     0000-00-00
4     0000-00-00
         ...
95    2019-05-30
96    2019-05-30
97    2019-05-30
98    2019-05-30
99    2019-05-30
Name: date, Length: 437, dtype: object

In [148]:
article_data['date_parsed']=pd.to_datetime(article_data['date'], format="%Y-%m-%d")
article_data['date_parsed'][-100:]

0    2019-05-30
1    2019-05-30
2    2019-05-30
3    2019-05-30
4    2019-05-30
        ...
95   2019-05-30
96   2019-05-30
97   2019-05-30
98   2019-05-30
99   2019-05-30
Name: date_parsed, Length: 100, dtype: datetime64[ns]

In [149]:
#Select the day of the month
day_of_month=article_data['date_parsed'].dt.day
day_of_month

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
95    30.0
96    30.0
97    30.0
98    30.0
99    30.0
Name: date_parsed, Length: 437, dtype: float64

###### One-Hot-encoding
is converting categorical data into dummy or indicator variables.
(encoding our labels with a vector of integer)

In [151]:
article_data['publication'][-100:]

0     Towards Data Science
1     Towards Data Science
2     Towards Data Science
3     Towards Data Science
4     Towards Data Science
              ...
95             The Startup
96             The Startup
97             The Startup
98             The Startup
99             The Startup
Name: publication, Length: 100, dtype: object

In [154]:
publication_categories=pd.get_dummies(article_data['publication'])
publication_categories[-100:]

    The Startup  Towards Data Science  UX Collective
0             0                     1              0
1             0                     1              0
2             0                     1              0
3             0                     1              0
4             0                     1              0
..          ...                   ...            ...
95            1                     0              0
96            1                     0              0
97            1                     0              0
98            1                     0              0
99            1                     0              0

[100 rows x 3 columns]